project/example_data/ref/At10.dna.fa filter=lfs diff=lfs merge=lfs -text
project/example_data/ref/At10.gtf filter=lfs diff=lfs merge=lfs -text
project/example_data/ref/At10_new.gtf filter=lfs diff=lfs merge=lfs -text
